.trending-section {
    padding: 20px 4%;
    background-color: #181A1C;
    z-index: 100;
    overflow: visible;
}

.trending-title {
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.trending-wrapper {
    position: relative;
    width: 100%;
}

.trending-scroll-container {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    overflow-y: visible;
    scroll-behavior: smooth;
    padding: 25px 30px 150px 30px; 
    margin-bottom: -150px;
    margin-top: -10px;
    
}

.trending-scroll-container::-webkit-scrollbar {
    display: none;
}

.trending-section .nav-btn {
    position: absolute;
    top: 150px;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    cursor: pointer;
    z-index: 100;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s;
}

.trending-section .nav-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.trending-section .nav-btn.left { left: -20px; }
.trending-section .nav-btn.right { right: -20px; }