.new-release-section {
    padding: 20px 4%;
    background-color: #181A1C;
    z-index: 100;
    overflow: visible;
}

.new-release-title {
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.new-release-wrapper {
    position: relative;
    width: 100%;
}

.new-release-scroll-container {
    display: flex;
    gap: 16px;
    overflow-x: auto;
    overflow-y: visible;
    scroll-behavior: smooth;
    padding: 25px 30px 150px 30px; 
    margin-bottom: -150px;
    margin-top: -10px;
}

.new-release-scroll-container::-webkit-scrollbar {
    display: none;
}

.new-release-section .nav-btn {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: 1px solid #444;
    cursor: pointer;
    z-index: 10;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-release-section .nav-btn.left { left: -20px; }
.new-release-section .nav-btn.right { right: -20px; }