.top-rating-section {
    padding: 20px 4%;
    background-color: #181A1C;
    z-index: 100;
    overflow: visible !important;
    
}

.top-rating-title {
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.top-rating-wrapper {
    position: relative;
    width: 100%;
}

.top-rating-scroll {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    overflow-y: visible ;
    scroll-behavior: smooth;
    padding: 30px 30px 150px 30px;
    margin-bottom: -130px;
}

.top-rating-scroll::-webkit-scrollbar {
    display: none;
}

.top-rating-section .nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    cursor: pointer;
    z-index: 10;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s;
}

.top-rating-section .nav-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.top-rating-section .nav-btn.left { left: -15px; }
.top-rating-section .nav-btn.right { right: -15px; }