.rank-number {
    font-size: 140px; 
    font-weight: 900;
    color: transparent;
    line-height: 1;
    -webkit-text-stroke: 2px rgba(255, 255, 255, 0.5);
    position: absolute;
    left: -10px; 
    bottom: -10px;
    z-index: 1; 
    font-family: 'Inter', sans-serif;
    user-select: none;
    transition: -webkit-text-stroke 0.3s ease 0s;
}